/* Los estilos de tu proyecto */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}
.margin-left-xl { margin-left: 3em; }

/* estilos del body */
body {
	margin: 0 auto;
	padding: 0;
}

/* Estilos del menu */
.navbar-default {
  background-color: #fff;
  border-color: #fff;
  padding-top: 10px;
}

/* imagen de fondo principal */
.imagen_1{
	background-image: url("../assets/images/taxi.jpg");
	 width: 100%;
	 height: auto;
     background-position: 50% 80%;
	 background-size:cover;
	 padding-top: 15em;
	 padding-bottom: 15em;
}

/* Caja amarilla en la imagen principal */
.box-1{
	background-color: #F7B617;
	height: auto;
}

.texto_box-1{
	color:#fff;
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 20px;
}

.img_section1{
	width: 80px;
	height: 20px;
	padding-top: 40px;
}

.texto_box-2{
	color:#fff;
	padding-left: 32px;
	padding-right: 40px;	
}

.boton {
	width: 90px;
	height: 30px;
	margin-left: 50px;
	background-color: #fff;
	color:#000;
	margin-bottom: 1em;
	border-style: none;
}

.texto_cuadro{
	padding-left:50px;
	color: #fff;
}

.boton2 {
	width: 200px;
	height: 30px;
	margin-left: 50px;
	background-color: #fff;
	color:#000;
	border-style: none;
	margin-top: 1em;
	margin-bottom: 2em;

}

.boton_app {
	width: 200px;
	height: 30px;
	margin-left: 20px;
	background-color: #fff;
	color:#000;
	border-style: none;
	margin-top: 1em;
	margin-bottom: 2em;

}

.img_logo_xs{
	margin-left: 20px;
	width: 60px;
	height: 16px;

}

/* Estilos secci칩n 2 */
.second_section{
	background-color: #F7B617;
	height: 30em;
}


.img_section2{
	width: 260px;
	height: 320px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 40px;
}

.titulo_section2{
   margin-top: 30px;
   width: 280px;
   color:#fff;
}

.text_section2{
	margin-top: 30px;
	width: 280px;
	color:#fff;
}

.new_seccion2 {
	margin-right: 0;
	margin-top: 30px;
	border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}


/* Secci칩n tres */
.imagen_2{

	background-image: url("../assets/images/conduce.jpg");
	 width: 100%;
	 height: 30em;
     background-position: 50% 60%;
	 background-size:cover;
}

.box-section3{
	background-color: rgba(0,0,0,0.7);
	padding-left: 20px;
	height: 30em;
	
}

.texto_box-section3{
	padding-top: 3em;
	margin-left: 10px;
	color: #fff;
}

.texto_box-4{
	padding-top: 10px;
	width: 22em;
	color: #fff;
	margin-left: 10px;
}

.boton3 {
	width: 200px;
	height: 30px;
	margin-left: 10px;
	background-color: #F7B617;
	color:#fff;
	border-style: none;
}


/* Estilos Secci칩n 4 */

.text-section4{
	color: #fff;
}

.text-section5{
	color: #fff;
	padding-top: 10px;
}

.icono {
	position: absolute;
    margin-top: 10px;
}
#fname{
	width: 300px;
	height: 38px;
	color: #fff;
	background-color: #F7B617;
	border-color: white;
	border-radius: 10px;
	margin-bottom: 15px;
	margin-left: 25px;
}

#fname::placeholder {
  color: white;
}

.boton4 {
	width: 200px;
	height: 30px;
	margin-left: 10px;
	background-color: #fff;
	color:#000;
	border-style: none;
	font:bold;
}

/* Los estilos del mapa */
.mapa{
	padding: 15px;
	border: 1px solid white;
	margin-top: 20px;
	height: 26em;
	margin-bottom: 20px;

}

.four_section{
	background-color: #F7B617;	
}

/* Estilos del Footer */
.footer{
	background-color: #2B2B2B;	
}


.imagen_footer{
	padding-bottom: 5px;
}

.titulo_final{
	color:#fff;
}

.iconos_footer{
	padding-top: 30em;
	padding-bottom: 0;
}

.imagenes_footer{
	padding-top: 23em;
}

.col-xs-push-7 {
    left: 0;
}

.col-xs-push-8 {
	left: 0;
}

/* Media query de tama침o dispositivo mobil */
@media (max-width: 768px) {
  
.iconos_footer{
	padding-top: 0px;
}

.imagenes_footer{
	padding-top: 0px;
}

.parte_1{
 margin-top: -45px;
}

.parte_2{
 margin-top: -270px;
}

.imagen_footer{
	max-width: 100%;
}

.imagen_1{
	padding-top: 5em;
	padding-bottom: 5em; 
}

}

/* media query de xs para poder aplicarles push y pull */
@media screen and (max-width: 767px) {
  .col-xs-pull-12 {
    right: 100%;
  }
  .col-xs-pull-11 {
    right: 91.66666667%;
  }
  .col-xs-pull-10 {
    right: 83.33333333%;
  }
  .col-xs-pull-9 {
    right: 75%;
  }
  .col-xs-pull-8 {
    right: 66.66666667%;
  }
  .col-xs-pull-7 {
    right: 58.33333333%;
  }
  .col-xs-pull-6 {
    right: 50%;
  }
  .col-xs-pull-5 {
    right: 41.66666667%;
  }
  .col-xs-pull-4 {
    right: 33.33333333%;
  }
  .col-xs-pull-3 {
    right: 25%;
  }
  .col-xs-pull-2 {
    right: 16.66666667%;
  }
  .col-xs-pull-1 {
    right: 8.33333333%;
  }
  .col-xs-pull-0 {
    right: auto;
  }
  .col-xs-push-12 {
    left: 100%;
  }
  .col-xs-push-11 {
    left: 91.66666667%;
  }
  .col-xs-push-10 {
    left: 83.33333333%;
  }
  .col-xs-push-9 {
    left: 75%;
  }
  .col-xs-push-8 {
    left: 66.66666667%;
  }
  .col-xs-push-7 {
    left: 58.33333333%;
  }
  .col-xs-push-6 {
    left: 50%;
  }
  .col-xs-push-5 {
    left: 41.66666667%;
  }
  .col-xs-push-4 {
    left: 33.33333333%;
  }
  .col-xs-push-3 {
    left: 25%;
  }
  .col-xs-push-2 {
    left: 16.66666667%;
  }
  .col-xs-push-1 {
    left: 8.33333333%;
  }
  .col-xs-push-0 {
    left: auto;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xs-offset-0 {
    margin-left: 0;
  }
}
